*.gz
*.tfrecords
*.tfrecord
logs
MNIST
files
facebook_file
*.csv
tmp
modules
*.json
*.meta
module
interrupt
*.asv
*.rar
*.zip
*.gz
*.tar
model
*.bin
data
*.npy
*.nii
Data
*.dcm
*.hdf5
log
*.whl
*.sh
*.csv
*.tgz
*.exe
*.tar
*.wav
*.mp3
*.ogg
*.jpg
*.gif
*.png
*.jpeg
*.sql
